.searchbox_container{
     max-width: 1280px;
     margin: 0 auto;
}

.searchbox_wrapper{
     margin: 0 auto;
     width: 95%;
     height: 6rem;
     background: #fff;
     border-radius: 12px;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
     position: relative;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding-right: .5rem;
}

.row_wrapper{
     display: flex;
     width: 90%;
     justify-content: space-between;

}

.searchbox_first_row, .searchbox_second_row{
     width: 40%;
     display: flex;
     justify-content: space-between;
}


label{
     display: flex;
     font-size: 1.5rem;
     color: var(--primarycolor);
     padding-left: .5rem;
     border-left: 1px solid #575757;
}

.left_border{
     border-left: 3px solid var(--primarycolor);
}

.searchbox_wrapper input{
     max-width: 120px;
     border: none;
     outline: none;
     margin-left: 8px;
     font-family: var(--primaryfont);
     font-size: .9rem;
}

.searchbox_wrapper button{
     font-family: var(--primaryfont);
}

.calender_btn{
     background: transparent;
     border: none;
     outline: none;
     border-left: 1px solid #575757;
     padding-left: .5rem;
}

.calender_icon{
     font-size: 1.5rem;
     color: var(--primarycolor);
     margin-right: 6px;
}

.calender_flex{
     display: flex;
     align-items: center;
}

.find_now_btn{
     padding: 1.8rem 1rem;
     border-radius: 0 12px 12px 0;
     border: none;
     outline: none;
     color: #fff;
     font-size: 1rem;
     background: var(--primarycolor);
}

.date_calender{
     position: absolute;
     top: 6rem;
     right: 8.625rem;
}



@media (max-width: 992px) {
     .searchbox_first_row, .searchbox_second_row{
          flex-direction: column;
          gap: 0.5rem;
          justify-content: space-between;
     }
     .searchbox_wrapper{
          height: 8rem;
     }


}
