.subscribe_main_container{
     max-width: 1280px;
     margin: 0 auto;
}

.subscribe_wrapper{
     max-width: 95%;
     margin: 0 auto;
     height: 20rem;
     background: rgb(83,254,201);
     background: linear-gradient(149deg, rgba(83,254,201,1) 3%, rgba(255,79,2,1) 78%);
     border-radius: 1rem;
     display: flex;
     justify-content: space-between;
     padding: 0 0 0 1vw;
     position: relative;
     overflow: hidden;
}

.subscribe_content{
     padding: 5rem 0 0 3rem;
     position: relative;
     z-index: 1;
}

.subscribe_content h2{
     font-family: var(--specialfont);
     font-size: 2.2rem;
     color: #eeeeee;
     font-weight: 700;
}

.subscribe_content img{
     position: absolute;
     top: 0;
     left: 1rem;
}

.subscribe_content .subscribe_overlay_image{
     position: absolute;
     top: 6.6rem;
     left: 4rem;
}

.subscribe_parashoot_image_wrapper{
     height: 100%;
}

.subscribe_parashoot_image_wrapper img{
     position: absolute;
     height: 100%;
     top: 0;
     right: 0;
     border-radius: 0 1rem 1rem 0;
}

.subscribe_info_provider{
     display: flex;
}

.subscribe_info_provider input, .subscribe_info_provider button{
     font-family: var(--thirdfont);
     font-size: .9rem;
     border: none;
     margin-top: 1.8rem;
     border-radius: .3rem;
     font-weight: 500;
     position: relative;
     z-index: 1;
}

.subscribe_info_provider input {
     width: 16rem; 
     margin-right: .6rem;
     padding: .8rem 1rem;
}

.subscribe_flex{
     margin-left: .5rem;
}

.subscribe_info_provider button{
     padding: .8rem 1.5rem;
     color: #fff;
     background: #111111;
     display: flex;
     align-items: center;
     transition: all 0.5s ease;
}

.subscribe_info_provider button:hover{
     color: var(--primarycolor);
}



@media (max-width: 768px) {
     .subscribe_parashoot_image_wrapper{
          display: none;
     }

     .subscribe_content{
          padding: 5rem 0 0 1.5rem;
     }

     .subscribe_content h2{
          font-size: 2rem;
     }
} 

@media (max-width: 500px) {

     .subscribe_wrapper{
          height: auto;
     }

      .subscribe_info_provider{
          flex-direction: column;
          position: relative;
          width: 100%;
     }

     .subscribe_content{
          padding: 5rem 1rem 1rem 1rem;
          width: 100%;
     }

     .subscribe_content button{
          display: flex;
          align-items: center;
          justify-content: center;
     } 

     .subscribe_content input, .subscribe_content button{
          margin-top: .8rem;
     } 

     .subscribe_info_provider{
          flex-direction: column;
     }
     
     .subscribe_info_provider input {
          width: 100%;
     }

}
