.contact_detail_container{
    width: 100%;
}

.contact_detail_wrapper{
    padding: 8rem 0;
    max-width: 1280px;
    margin: 0 auto;
}

.contact_detail_heading{
    text-align: center;
}

.contact_detail_heading h2{
    font-family: var(--cursivefont);
    color: var(--cursivefontcolor);
    font-size: 2.2rem;
    font-weight: 500;
}

.contact_detail_heading h1{
    font-family: var(--specialfont);
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}


.contact_card_wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.5rem;
}