.tour_list_container{
    width: 100%;
    background: #faf6f2;
    position: relative;
}

.tour_list_wrapper{
    max-width: 1280px;
    margin: 0 auto;
}

.serachbar_tourlist_container{
    padding: 4rem 0;
    max-width: 1280px;
    margin: 0 auto;
}

.Searchbar_tourlist_wrapper{
    max-width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
}

.tour_list_showcase_area{
    position: relative;
    z-index: 0;
}

@media (max-width: 992px) {
    .Searchbar_tourlist_wrapper{
        display: flex;
        flex-direction: column;
    }
}