.single_tourlist_wrapper{
    width: 100%;
    height: 13rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 1.5rem;
    background: var(--basecolor);
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 1rem;
    transition: .5s;
}

.single_tourlist_wrapper:hover{
    transform: translateY(-.5rem);
}

.single_tourlist_image_area{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.single_tourlist_image_area span{
    position: absolute;
    top: -80%;
    left: -120%;
    width: 20%;
    height: 400%;
    background: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(5px);
    transform: rotate(30deg);
    transition: .5s;
    
}

.single_tourlist_wrapper:hover span{
    left: 110%;
}

.tourist_list_offer{
    position: absolute;
    top: 1rem;
}   

.tourist_list_offer .featured_package{
    font-size: .8rem;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2rem;
    padding: .4rem 0;
    width: 7rem;
    border-radius: 0 .3rem .3rem 0;
    margin-bottom: .3rem;
    color: var(--basecolor);
    border: 1px solid #ffffff85;
}

.tourist_list_offer .package_off{
    font-size: .8rem;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    text-align: center;
    gap: .2rem;    
    padding: .5rem 1rem;
    border-radius: 0 .3rem .3rem 0;
    color: var(--basecolor);
    border: 1px solid #ffffff85;
}

.tourist_list_offer p path{
    color: gold;
}

.single_tourlist_image_area img{
    width: 100%;
    height: 100%;
    object-fit: cover;  
    transition: all 0.3s ease;  
}   

.single_tourlist_detail{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.single_tourlist_detail p{
    display: flex;
    align-items: center;
    color: var(--primarycolor);
}

.single_tourlist_detail p path{
    color: var(--primarycolor);
}

.single_tourlist_detail h2{
    font-size: 1.2rem;
    font-family: var(--specialfont);
    font-weight: 600;
}

.single_tourlist_detail h3{
    font-size: .9rem;
    font-family: var(--secondaryfont);
}

.single_tourlist_detail .contact h4{
    display: flex;
    align-items: center;
    font-family: var(--secondaryfont);
    font-size: .9rem;
}

.single_tourlist_detail .contact h4 span{
    font-weight: bold;
    margin-right: .4rem;
}

.single_tourlist_detail .contact{
    display: flex;gap: 1rem;
}


@media (max-width: 768px) {
    .single_tourlist_wrapper{
        margin: 0 auto;
        height: 30rem;
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5rem;
        max-width: 520px;
    }

    .single_tourlist_detail{
        gap: .6rem;
    }

    .single_tourlist_detail h2{
        margin-bottom: .5rem;
    }
}