.single_tourlist_wrapper{
    width: 100%;
    max-height: 15rem;
    display: flex;
    margin-bottom: .8rem;
    background: var(--basecolor);
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: .8rem;
}

.single_tourlist_image_area{
    height: 15rem;
    width: 22rem;
    overflow: hidden;
    position: relative;
}

.tourist_list_offer{
    position: absolute;
    top: 1rem;
}   

.tourist_list_offer p{
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: .2rem 2rem;
    border-radius: 0 .2rem .2rem 0;
    margin-bottom: .5rem;
    color: var(--basecolor);
}

.single_tourlist_image_area img{
    height: 100%;
}   