.single_tour {
  background: #fff;
  border-radius: 0.8rem;
  min-height: 380px;
}

.singletour_image_area {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 0.8rem 0.8rem 0 0;
}

.singletour_image_area .package_rating {
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  background: #fff;
  width: 3rem;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--specialfont);
  font-weight: 600;
}

.package_rating span {
  color: #f1ce08;
  margin-right: 0.2rem;
}

.singletour_image_area:hover img {
  transform: scale(1.1);
}

.single_tour img {
  width: 100%;
  height: auto;
  border-radius: 0.8rem 0.8rem 0 0;
  transform: scale(1);
  transition: all 0.5s ease;
}

.tour_package_details {
  padding: 1.5rem 0.8rem;
  font-family: var(--specialfont);
}

.tour_package_details p {
  color: #50505096;
  font-weight: 700;
  font-size: 0.9rem;
}

.tour_package_details h3 {
  font-size: 1.3rem;
  font-weight: 700;
  margin: 0.2rem 0 0.5rem 0;
}

.tour_package_details h4 {
  font-size: 1rem;
  color: #50505096;
}

.tour_package_details h4 span {
  color: var(--primarycolor);
  font-size: 1.3rem;
}

.tour_package_details h5 {
  margin: 0.5rem 0 1rem 0;
  font-weight: 500;
  font-size: 1rem;
}

.tour_package_details a {
  background: none;
  border: none;
  outline: none;
  font-family: var(--specialfont);
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

.tour_package_details a span {
  margin-left: 0.5rem;
}

.tour_package_details a:hover {
  color: var(--primarycolor);
  transform: translateY(-0.2rem);
}
