@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Edu+NSW+ACT+Foundation:wght@400;500;600;700&family=Encode+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600;700&family=Seaweed+Script&display=swap&family=Urbanist:wght@400;500;600;700&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

:root{

     --primaryfont: 'Inter', sans-serif;
     --secondaryfont: 'Encode Sans', sans-serif;
     --thirdfont: 'Cabin', sans-serif;
     --cursivefont: 'Seaweed Script', cursive;  
     --specialfont: 'Urbanist', sans-serif;
     --lastfont: 'Edu NSW ACT Foundation', cursive;
     --basecolor: #fff;
     --primarycolor: #FF6B00;
     --grayishcolor: #5a5a5a;
     --cursivefontcolor: #ffc42e;
}

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body{
     margin: 0 auto;
     font-family: var(--primaryfont);
     width: 100%;
     background: #fff;
}


/* .container{
     margin: 0 auto;
     max-width: 1280px;
} */
