.tour_packages_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
}

.Tour_compo_container{
    padding: 6rem 0;
    background: url('https://azim.hostlin.com/Travic/assets/images/shape/shape-2.png');
}

.Tour_compo_content{
    max-width: 1280px;
    margin: 0 auto;
}

.tour_compo_width{
    max-width: 95%;
    margin: 0 auto;
}

.tour_package_top_area{
    margin-bottom: 2.8rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.tour_package_top_btns{
    display: flex;
    justify-content: space-between;
}

.headings h3{
    font-family: var(--cursivefont);
    color: var(--cursivefontcolor);
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: .5rem;
}

.headings h2{
    font-family: var(--specialfont);
    font-size: 2.2rem;
}


@media (max-width: 992px) {
    .tour_packages_container{
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 768px) {
    .tour_packages_container{
        grid-template-columns: repeat(1, 1fr);
    }
}