.tour_packages_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
}

.Tour_compo_container{
    padding: 2rem 0 3rem 0;
    background: url('https://azim.hostlin.com/Travic/assets/images/shape/shape-2.png');
}

.Tour_compo_content{
    width: 90%;
    margin: 0 auto;
}

.tour_package_top_area{
    margin-bottom: 2.8rem;
}

.headings h3{
    font-family: var(--cursivefont);
    color: var(--cursivefontcolor);
}

.headings h2{
    font-family: var(--specialfont);
}
