.footer_compo_container{
     width: 100%;
     height: 100%;
     background: #111111;
}


.footer_container{
     max-width: 1280px;
     height: 100%;
     margin: 0 auto;
     color: #fff;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}

.footer_wrapper{
     padding: 15rem 0 0 0;
     width: 95%;
     height: 100%;
     margin: 0 auto;
     background: url('https://i.postimg.cc/tRDrfxh5/pngwing-com.png');
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: space-between;
     font-family: var(--secondaryfont);
}

.footer_contact_info{
     width: 68.5%;
     padding-right: 6rem;
     /* border: 1px solid; */
     display: flex;
     justify-content: space-between;
}

.footer_contact_info img{
     max-width: 11vw;
}

.footer_contact_info h5{
     font-weight: 500;
     font-size: 1rem;
     margin: 1rem 0;
}

.footer_contact_info h3{
     font-weight: 500;
     margin: 1rem 0;
     font-size: 1.2rem;
}

.footer_links{
     display: flex;
     width: 32.5%;
     gap: 6rem;
}

.footer_links h3, .footer_about_links h3{
     font-weight: 500;
     font-size: 1.2rem;
     margin-bottom: 1rem;
     font-family: var(--primaryfont);
}

.footer_links p, .footer_about_links p{
     margin-bottom: .5rem;
     font-size: 1rem;
     transition: all .3s ease;
}

.footer_links P:hover, .footer_about_links p:hover{
     transform: translateY(-4px);
     color: var(--primarycolor);
}

.footer_copyright_area{
     background: #111111;
}

.footer_copyright_area hr{
     width: 100%;
     height: 1px;
     color: #fff;
}

.copyright_wrapper{
     width: 95%;
     height: 4rem;
     margin: 0 auto;
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.copyright_wrapper h4{
     font-size: 1rem;
     font-weight: 500;
}

.copyright_wrapper a{
     text-decoration: none;
     color: var(--primarycolor);
}

.social_links{
     display: flex;
}

.social_links div{
     display: flex;
     align-items: center;
     justify-content: center;
     height: 30px;
     width: 30px;
     background: #ffffff80;
     color: #fff;
     border-radius: 50%;
     margin-left: .8rem;
     transition: all 0.3s ease;
}

.social_links div:hover{
     color: var(--primarycolor);
}




@media (max-width: 992px) {
     .footer_wrapper{
          padding-bottom: 2rem;
     }

     .footer_contact_info{
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
          gap: 2rem;
          margin-bottom: 2rem;
     }

     .footer_links{
          flex-direction: column;
          justify-content: center;
          gap: 2rem;
     }
}

@media (max-width: 768px) {
     .footer_wrapper{
          flex-direction: column;
          align-items: start;
     }
}

@media (max-width: 600px) {
     .copyright_wrapper{
          height: 6rem;
          flex-direction: column;
          text-align: center;
          gap: .5rem;
          padding: 1rem 0;
     }
}